<ion-view title="Profile">
  <ion-content class="profile-content">
      <div class="list inset">
          <div class="avatar" style="background-image: url({{ profile.avatar }})"></div>
          <button ng-click="getDeliver();" class="button uver-btn">Get deliver</button>
          <button ng-click="history();" class="button uver-btn">History</button>
          <button ng-click="support();" class="button uver-btn">Support</button>
          <button ng-click="setting();" class="button uver-btn">Setting</button>
      </div>
  </ion-content>
</ion-view>
